{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}


    <!-- Breadcrumb -->
    <div class="breadcrumb-area section" style="background-image: url({% static 'images/bg/breadcrumb.jpg' %}); ">
        <div class="container">
            <div class="breadcrumb pt-75 pb-75 pt-sm-70 pb-sm-40 pt-xs-70 pb-xs-40">
                <div class="row">
                    <div class="col">
                        <h2>Properties</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Properties</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Breadcrumb -->

    <!-- Page Conttent -->
    <main class="page-content section">

        <!-- Featured Properites Start -->
        <div class="properites-sidebar-wrap pt-110 pt-md-90 pt-sm-70 pt-xs-60 pb-110 pb-md-90 pb-sm-70 pb-xs-60
       ">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <ul class="properties-list nav justify-content-end" role="tablist">
                            <li class="active"><a class="active" href="#all" role="tab" data-toggle="tab">ВСЕ</a></li>
                            <li><a href="#buy" role="tab" data-toggle="tab">Покупка</a></li>
                            <li><a href="#sale" role="tab" data-toggle="tab">Продажа</a></li>
                            <li><a href="#rent" role="tab" data-toggle="tab">Аренда</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-xl-3 col-12 order-lg-1 order-2">
                        <div class="row widgets">

                            <div class="col-lg-12">
                                <div class="single-widget widget-search">
                                    <h4 class="widget-title">
                                        <span>Найди свой дом</span>
                                    </h4>
                                    <div class="search-wrap sidebar-wigets-search">
                                        <form action="#">
                                            <div class="row row-10">

                                                <div class="col-lg-6 col-md-6 col-12 mb-20">
                                                    <select class="nice-select">
                                                        <option>Продажа</option>
                                                        <option>Аренда</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-12 mb-20">
                                                    <select class="nice-select">
                                                        <option>Локация</option>
                                                        <option>Люблянв, Центр</option>
                                                        <option>Побережье, Обала</option>
                                                        <option>Блед, Бохинь</option>
                                                        <option>Краньска гора</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-12 mb-20">
                                                    <select class="nice-select">
                                                        <option>Все</option>
                                                        <option>Квартиры</option>
                                                        <option>Дома</option>
                                                        <option>Земельные участки</option>
                                                        <option>Коммерческая недвижимость</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-12 mb-20">
                                                    <select class="nice-select">
                                                        <option>Площадь</option>
                                                        <option>0 - 50 кв.м</option>
                                                        <option>50 - 100 кв.м</option>
                                                        <option>100 - 150 кв.м</option>
                                                        <option>> 150 кв.м</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-12 mb-20">
                                                    <select class="nice-select">
                                                        <option>Комнаты</option>
                                                        <option>1 комната</option>
                                                        <option>2 комнаты</option>
                                                        <option>3 комнаты</option>
                                                        <option>4 комнаты</option>
                                                        <option>>4 комнат</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-12 mb-20">
                                                    <select class="nice-select">
                                                        <option>Цена</option>
                                                        <option>< € 100 000</option>
                                                        <option>€ 100 000 - 200 000</option>
                                                        <option>€ 200 000 - 500 000</option>
                                                        <option>€ 500 000 - 2 000 000</option>
                                                        <option>€ 2 000 000 - 5 000 000</option>
                                                        <option> > € 5 000 000</option>

                                                    </select>
                                                </div>


                                                <div class="col-lg-12 col-md-6 col-12 mb-30">
                                                    <div class="serche-input-box  ml-auto mr-auto">
                                                        <input type="submit" value="Поиск">
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="single-widget widget">
                                    <h4 class="widget-title">
                                        <span>Недавно добавленное</span>
                                    </h4>
                                    <div class="row single-propertiy-wigets">
                                        {% for realty in last %}
                                            <div class="col-lg-12 col-md-6 single-propertiy mb-30">
                                                <a href="#"><img src="/static/{{ realty.image }}" alt=""></a>
                                                <div class="propertiy-det-box">
                                                    <h4><a href="{{ realty.get_absolute_url }}">{{ realty.name }}</a>
                                                    </h4>
                                                    <p>Цена € {{ realty.price|intcomma }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-9 col-12 order-lg-2 order-1">

                        <div class="tab-content">
                            <div class="tab-pane active" id="all">
                                <div class="row">
                                    {% for realty in data_realty %}
                                    <div class="col-xl-4 col-lg-6 col-md-4 col-12">
                                        <!-- single-property Start -->
                                        <div class="single-property mt-30">
                                            <div class="property-img">
                                                <a href="{{ realty.get_absolute_url }}">
                                                    <img src="/static/{{ realty.image }}" alt="">
                                                </a>
                                                <span class="level-stryker">Продажа</span>
                                            </div>
                                            <div class="property-desc">
                                                <h4><a href="{{ realty.get_absolute_url }}">{{ realty.name }}</a></h4>
                                                <p>

                                                    <span class="property-info">Площадь {{ realty.area }} кв.м, <br> Комнат {{ realty.rooms }} шт. </span>
                                                </p>
                                                <div class="price-box">
                                                    <p>Цена € {{ realty.price|intcomma }}</p>
                                                </div>
                                            </div>
                                        </div><!-- single-property End -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="buy">
                                <div class="row">



                                </div>
                            </div>
                            <div class="tab-pane" id="sale">
                                <div class="row">



                                </div>
                            </div>
                            <div class="tab-pane" id="rent">
                                <div class="row">



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- Featured Properites End -->

    </main>
    <!--// Page Conttent -->



{% endblock %}