{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Slovenia-realty</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


<!-- Header Section Start -->

<header class="header-wrapper section">
    <div class="header-top bg-theme-two section border-bm-1" style="display: none;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-top-info">
                        <p class="text-white">Call us - <a href="tel:21548987658">21548 987 658</a></p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-buttons">
                        <a class="header-btn btn" href="add-property.html">Add Property</a>
                        <a class="header-btn btn-border" href="register.html">Register</a>
                        <a class="header-btn text-white" href="login.html">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header-section section bg-theme-two">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-2 col-6">
                    <div class="header-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo-2.png' %}" style="max-width: 200%"
                                                         alt=""></a>
                    </div>
                </div>

                <div class="col-lg-10 col-6">
                    <div class="header-mid_right-bar">
                        <nav class="main-menu text-white d-lg-block d-none">
                            <ul>
                                <li class="has-dropdown"><a href="#">Недвижимость</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'catalog' %}">Каталог</a></li>
                                        <li><a href="{% url 'search' %}">Поиск</a></li>
                                        <li><a href="{% url 'request' %}">Оставить заявку</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown"><a href="#">Услуги</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'create' %}">Открытие компании</a></li>
                                        <li><a href="{% url 'permission' %}">Получение ВНЖ</a></li>
                                        <li><a href="{% url 'insurance' %}">Страхование</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Аренда</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'i_rent' %}">Снять</a></li>
                                        <li><a href="{% url 'for_rent' %}">Сдать</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown"><a href="{% url 'for_sale' %}">Продать</a></li>
                                <li class="has-dropdown"><a href="#">Блог</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'company' %}">О нас</a></li>
                                        <li><a href="{% url 'slovenia' %}">О Словении</a></li>
                                        <li><a href="{% url 'news' %}">Новости</a></li>
                                        <li><a href="{% url 'faq' %}">F.A.Q.</a></li>
                                    </ul>
                                </li>

                                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>

                <!-- Mobile Menu -->
                <div class="mobile-menu white-m-bar order-12 d-block d-lg-none col"></div>

            </div>
        </div>
    </div><!-- Header Section End -->
</header>

<!--  search overlay -->
<div class="search-overlay" id="search-overlay">

    <div class="search-overlay__header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 ml-auto col-4">
                    <!-- search content -->
                    <div class="search-content text-right">
                        <span class="mobile-navigation-close-icon" id="search-close-trigger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-overlay__inner">
        <div class="search-overlay__body">
            <div class="search-overlay__form">
                <form action="#">
                    <input type="text" placeholder="Search">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of search overlay -->

<!-- start: Content -->
{% block content %}
{% endblock %}
<!-- end: Content -->

<!-- Footer Section Start -->
<footer class="footer-section section ">

    <div class="footer-top bg-theme-two pt-70 pt-md-50 pt-sm-30 pt-xs-20 pb-100 pb-md-90 pb-sm-70 pb-xs-60">
        <div class="container">
            <div class="row">
                <div class="col-coustom-3 col-md-6 col-lg-3 col-12 mt-40">
                    <!-- Footer-widget Start -->
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h3>О нас</h3>
                        </div>
                        <div class="footer-info">
                            <p>Мы команда профессионалов,и у нас работают риэлторы со всей Словении.
                                Всех нас объединяют одни и те же принципы - честность, надежность, профессионализм и
                                порядочность</p>
                            <div class="newsletter-box">
                            </div>
                        </div>
                    </div><!-- Footer-widget End -->
                </div>
                <div class="col-coustom-3 col-md-6 col-lg-3 col-12 mt-40">
                    <!-- Footer-widget Start -->
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h3>Популярные записи</h3>
                        </div>
                        <div class="footer-info">
                            <div class="single-list">
                                <h4>ЖК Экворна Любляна</h4>
                                <p>Отличная возможность поселить семью в тихом уютном месте всего в 2 км от центра
                                    Любляны.</p>
                            </div>

                        </div>
                    </div><!-- Footer-widget End -->
                </div>
                <div class="col-coustom-3 col-md-6 col-lg-3 col-12 mt-40">
                    <!-- Footer-widget Start -->
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h3>Прямые ссылки</h3>
                        </div>
                        <div class="footer-info">
                            <ul class="footer-list">
                                <li><a href="{% url 'catalog' %}">Каталог</a></li>
                                <li><a href="{% url 'create' %}">Открытие компании</a></li>
                                <li><a href="{% url 'request' %}">Купить</a></li>
                                <li><a href="{% url 'for_sale' %}">Продать</a></li>
                                <li><a href="{% url 'slovenia' %}">О Словении</a></li>
                                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            </ul>
                        </div>
                    </div><!-- Footer-widget End -->
                </div>
                <div class="col-coustom-3 col-md-6 col-lg-3 col-12 mt-40">
                    <!-- Footer-widget Start -->
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h3>Контакты</h3>
                        </div>
                        <div class="footer-info">
                            <ul class="footer-list">
                                <li>
                                    <div class="contact-text">
                                        <i class="glyph-icon flaticon-placeholder"></i>
                                        <p>г.Любляна, ул.Гербичева 110<br>г.Порторож, Побережье 114 </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-text">
                                        <i class="glyph-icon flaticon-call"></i>
                                        <p>
                                            <span>Телефон : <a href="tel:1234566789"> +7 984 333 09 55</a></span>
                                            <span>Email : <a
                                                    href="mailto:info@example.com">nataliya@agencia.si</a></span>
                                        </p>

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div><!-- Footer-widget End -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; redF <a href="#">All rights reserved.</a></p>
                </div>
            </div>
        </div>
    </div>

</footer><!-- Footer Section End -->


<!-- JS
============================================ -->

<!-- Map js code here -->

<!-- Plugins JS -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Map Active JS -->
<script src="{% static 'js/maplace-active.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>

</body>

</html>